/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 100vw;
    height: 100vh;
    background-color: #dbdbdf;
  }
  .align-center {
    margin: 15px;
    text-align: center;
  }
  .nav-button{
    margin-right: 8px;
  }

  .table {
    width: 100%;
    border: 1px solid rgb(116, 116, 116);
  }
  
  .table>tbody>tr>td, .table>thead>tr>td {
    border: 1px solid rgb(116, 116, 116);
    min-height: 50px;
    padding: .5em;
  }